[Unit]
Description=MySyncFiles client
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=%h/.local/bin/mysync daemon
Restart=always
RestartSec=5
UMask=0077
NoNewPrivileges=true

[Install]
WantedBy=default.target
